debug = False

database = {
    'host': 'localhost',
    'database': 'lifeordeath',
    'user': 'lifeordeath',
    'password': '',
    'min_conn': 1,
    'max_conn': 20,
    'cleanup_timeout': 10
}

events = {
    'backup': {
        'error': 120,
        'warning': 40
    },
    'daily-digest': {
        'error': 60,
        'warning': 40
    }
}

monitor = 60 * 1000

silence = '02:00-06:00'

format = 'formats.geckoboard.rag_column'

alert = 'alerts.stdout'

alert_options = {}

alert_duration = 10 * 60
